<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="design/home.css">
</head>
<body>

    <%- include('../partials/header') %>

    <main>
        
        <section class="products">
            <% products.forEach((product) => { %>
            <article>
                <div><img src="<%= product.image %> " alt="<%= product.name %>" width=100%></div>
                <div class="texto">
                    <a href="#"><i class="fas fa-shopping-basket"></i></a>
                    <p class="descripciones"><%= product.name %></p>
                    <div class="precio-descuento">
                        <p class="precios"><%= product.price1 %></p>
                        <p class="presentaciones">250g / 500g / 1Kg</p>
                    </div>                    
                </div>
            </article>
            <% }) %> 
        </section>  
        
    </main>

    <%- include('../partials/footer') %>
    
</body>
</html>