<!DOCTYPE html>
<html lang="es">
<head>

    <%- include('../partials/head') %>

    <link rel="stylesheet" href="design/descripcionProducto.css">
    
</head>
<body>

    <%- include('../partials/header') %>

    <main>
        <% if(productDetail == null) {%>
            Ups, no encontramos tu producto 
        <% } else { %>
            <section>
                <h2><%= productDetail.name %></h2>
                <div class="foto-arandanos">
                <img src = "<%= productDetail.image %>" alt="<%= productDetail.name %>" width="auto">
                <i class="fas fa-search-plus"></i>  
            </section>
                
            <section>
                <h2>Beneficios</h2>
                <div>
                <h3><%= productDetail.beneficios %></h3>
                </div>
            </section>
            <div><h4>Precio x Kg $ <%= productDetail.price1 %></h4>
            </div>
            <button type="submit">Añadir al carrito</button>
        <% } %>   
    </main>

    <%- include('../partials/footer') %>
</body>
</html>