<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="design/home.css">
</head>
<body>

    <%- include('../partials/header') %>

    <main>
        
        <nav class="banner">
            <img src="/images/banner.jpg" alt="Imagen-banner-1">
        </nav> 

        <section class="main">
            
            <nav class="menu">
                <p>Categorias</p>            
                <ul>
                    <li>
                        <a href="/home">Frutos Secos</a>
                    </li>
                    <li>
                        <a href="/productDetail">Frutas Deshidratadas</a>
                    </li>
                    <li>
                        <a href="/contacto">Mixes</a>
                    </li>
                </ul>                
            </nav>

            <section class="products">
                <% productList.forEach((product) => { %>
                <article>
                    <div><img src="<%= product.image %> " alt="<%= product.name %>" width=100%></div>
                    <div class="texto">
                        <a href="#"><i class="fas fa-shopping-basket"></i></a>
                        <p class="descripciones"><a href="/products/detail/<%= product.id %>"><%= product.name %></a></p>
                        <div class="precio-descuento">
                            <p class="precios"><%= product.price1 %></p>
                            <p class="presentaciones">250g / 500g / 1Kg</p>
                        </div>                    
                    </div>
                </article>
                <% }) %> 
            </section>  

        </section>
    </main>

    <%- include('../partials/footer') %>
    
</body>
</html>